{% set icon_subs = [] %}
{% set plain_subs = [] %}
{% for sub in item.below %}
  {% if sub.entity.field_show_icon.value %}
    {% set icon_subs = icon_subs|merge([sub]) %}
  {% else %}
    {% set plain_subs = plain_subs|merge([sub]) %}
  {% endif %}
{% endfor %}
{% set label = item.title|lower|replace({' ': '_'}) %}
{% embed "@elements/03-lists/_list-item.twig" with {
  li_base_class: menu_class ~ '__item',
  li_modifiers: ['root'],
  li_extra_classes: ['expandable'],
} %}
  {% block list_item_content %}
    <button aria-controls="main-submenu-{{ label }}" aria-expanded="false" aria-pressed="false" type="button">
      {{ item.title }}
      <i class="fas fa-chevron-down"></i>
    </button>
    <div id="main-submenu-{{ label }}" class="main-submenu--wrapper" aria-hidden="true">
      <div class="submenu-flex-container">
        {% import "@compounds/menus/_menu.twig" as menus %}
        {{ menus.menu_links(plain_subs, [], 1, menu_class, ['no-icon']) }}
        {{ menus.menu_links(icon_subs, [], 1, menu_class, ['icon']) }}
      </div>
    </div>
  {% endblock %}
{% endembed %}
