{#
/**
 * @file
 * Theme override for result cards provided by the LITS Search module.
 *
 * Available variables:
 * - authors: The authors/editors of the result.
 * - availability: Availability information for the result.
 * - content: The text content to be shown with the result.
 * - date: The publication date of the result.
 * - details: link text for more information about the result.
 * - subjects: Subjects or topics of the result.
 * - thumbnail: An image to be shown with the result.
 * - title: Title of the result.
 * - type: The format/type of the result.
 * - url: URL of the result web page or detail record.
 */
#}
{% set wrapper_class = 'search-result--no-columns' %}
{% if thumbnail %}
  {% set wrapper_class = 'search-result--two-columns' %}
{% endif %}
<article class="{{ wrapper_class }}">
  <h3 class="search-result-title">
    {% include "@elements/01-links/link/link.twig" with {
      link_content: title,
      link_url: url,
    } %}
  </h3>
  {% if thumbnail %}
  <div class="grid-container">
    <div class="search-result-first-column grid-item">
      <div class="search-result-thumbnail">
        {% include "@elements/01-links/link/link.twig" with {
          link_content: thumbnail,
          link_url: url,
        } %}
      </div>
      {% if date %}
        <div class="search-result-date">{{ date }}</div>
      {% endif %}
    </div>
    <div class="search-result-second-column grid-item">
  {% endif %}{# thumbnail? #}

  {# -- Common to all search results -- #}
  {% if authors %}
    <h4 class="search-result-authors">{{ authors }}</h4>
  {% endif %}
  {% if date and not thumbnail %}
    <div class="search-result-date">{{ date }}</div>
  {% endif %}
  <div class="search-result-content">{{ content }}</div>
  {% if subjects %}
    <div class="search-result-subjects">{{ subjects }}</div>
  {% endif %}
  {% if availability %}
    <div class="search-result-availability">{{ availability }}</div>
  {% endif %}
    <div class="search-result-details btn">
      {% include "@elements/01-links/link/link.twig" with {
        link_content: details,
        link_url: url,
      } %}
    </div>
  {# -- end of common elements -- #}

  {% if thumbnail %}
    </div>{# /div.search-result-second-column #}
  </div>{# /div.grid-container #}
  {% endif %}
</article>{# /div.((wrapper_class)) #}
