{#
/**
 * @file
 * Theme override for the LITS unified search form
 *
 * @see templates/block/block.html.twig
 * @see template_preprocess_block()
 */
#}

<div {{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2 class="block-title" {{ title_attributes.addClass('h2') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  <p id="litsunifiedsearchblock-label">I want to...</p>
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
