{#
/**
 * @file
 * Theme override for a study space detail field.
 *
 * @see templates/field/field--node--study-space--detail-single.html.twig
 * @see template_preprocess_field()
 */
#}
{% if label_display == 'visually_hidden' %}
  {% set title_attributes = title_attributes.addClass('visually-hidden') %}
{% endif %}
{% if label and not label_hidden %}
  <div{{ title_attributes }}>{{ label }}</div>
{% endif %}
{% for item in items %}
  {% set item_content = item.content|render %}
  {% if item_content|striptags|trim %}
    {% if element['#local-svg'] %}
      {% set icon = element['#local-svg'] %}
    {% elseif element['#fontawesome'] %}
      {% set icon %}
        <i class="{{ element['#fontawesome'] }}" aria-hidden="true"></i>
      {% endset %}
    {% endif %}
    <div{{ attributes }}>
      {{ icon|raw }}
      <div class="study-space-detail-label">{{ item_content|raw }}</div>
    </div>
  {% endif %}
{% endfor %}
